@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin-left: 0;
  margin-right: 0;
  font-family: "Roboto";
}

header {
  height: 50px;
  display: flex;
  background-color: black;
  opacity: 0.7;
  color: white;
}

.nav-logo {
  padding-left: 20px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 24px;
}
.nav-list li {
  font-size: 14px;
  padding-right: 20px;
  display: inline-block;
}

.hero {
  text-align: center;
  padding: 80px 0;
}

.hero h1 {
  font-size: 160px;
  letter-spacing: 5px;
  margin: 0;
}

.hero h3 {
  margin: 0;
  font-weight: lighter;
  font-size: 50px;
}

.hero h1 span {
  color: rgb(224, 191, 45);
}

.hero img {
  width: 30%;
}

#about {
  text-align: center;
  padding: 80px 0;
  background-color: rgb(231, 230, 230);
}

#about h2 {
  font-size: 26px;
}

#about p {
  padding: 0 80px;
}

#example {
  text-align: center;
  padding: 80px 0;
}

#example h2 {
  font-size: 26px;
  padding-bottom: 15px;
}

.contents {
  display: flex;
  justify-content: space-evenly;
}

.con-item {
  flex: auto;
}
.con-item img {
  width: 250px;
}

#form {
  text-align: center;
  padding: 80px 0;
  background-color: rgb(231, 230, 230);
}

#form h2 {
  font-size: 26px;
  padding-bottom: 15px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.in1,
.form-com textarea {
  border: none;
  border-radius: 10px;
  width: 700px;
  padding: 10px 0;
  font-size: 12px;
}

.btn {
  border: none;
  width: 300px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: rgb(248, 214, 103);
}

footer {
  display: flex;
  background-color: rgb(97, 96, 96);
  color: white;
  justify-content: space-between;
}

.foot-logo {
  padding: 20px 20px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 24px;
}

.foot-list {
  padding:  10px 10px 0 0;
}
.foot-list li {
  font-size: 14px;
  padding-bottom: 15px;
  padding-right: 20px;
}