/*Bisa disesuaikan margin-top nya*/
* {
  box-sizing: border-box;
}

.contact-form {
  margin-top: 100px;
  height: 200px;
  background-image: url(mikhail-pavstyuk-EKy2OTRPXdw-unsplash.jpg);
  opacity: 0.7;
  background-size: cover;
  color: white;
  text-align: center;
}

.section-title h3 {
  font-size: 36px;
  color: white;
  padding-top: 20px;
  font-weight: Bold;
}

.section-title h5 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.contact-name {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: 2.5px solid #dfe6e9;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-submit {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #F97F51;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.3s
}

.contact-submit:hover {
  background-color: #FEA47F;
  color: white;
}

@media (max-width: 1000px) {
  .section-title h3 {
    font-size: 18px;
    padding: 10px;
  }
  .section-title h5 {
    font-size: 9px;
    margin-bottom: 5px;
  }
  .contact-name, .contact-submit {
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 9px;
  }
  .contact-name {
    margin-left: 5px;
    margin-right: 5px;
  }
  .contact-submit {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

@media (max-width: 670px) {
  .contact-form {
  height: 100px;
  }
}